.footer {
  bottom: 10;
  left: 0;
  position: fixed;
  width: 100%;
}

.footer__btn-list {
  background-color: $white;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 380px;
}

.btn-list__item {
  padding: 30px 45px;

  &.is-home {
    height: 30px;
    padding: 34px 45px;
  }

  &:not(:nth-child(1)) {
    position: relative;
  }

  &::before {
    border-right: 2px solid $general;
    content: '';
    display: block;
    height: 40px;
    left: 0%;
    position: absolute;
    top: 30px;
    z-index: 1;
  }
}
