.signin-container {
  margin: 80px auto auto;
  width: 327px;

  input {
    color: $grey;
    font-size: .9375rem;
    line-height: 18px;
    margin-bottom: 24px;
    padding: 20px 25px;
    width: 100%;

    &:last-child {
      margin-bottom: 60px;
    }
  }
}

.link-wrapper {
  margin-bottom: 30px;
  text-align: center;

  a {
    font-size: .75rem;
    line-height: 14px;
  }
}
