.heading {
  background-color: $white;
  display: flex;
  margin: 0 -20px 20px;
  padding: 30px;
  text-align: center;
}

.heading__icon {
  align-self: center;
  margin-right: 65px;
}

.heading__btn {
  background: none;
  padding: 0;
}

.heading__title {
  p {
    font-size: 1.5rem;
    line-height: 29px;
    margin: 0;
  }
}
